@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    cursor: url(img/customcursor.svg), default;
}

::-webkit-scrollbar {
    background-color: #25093b;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #1100ff 0, #b800ff 75%);
    border-radius: 50px;
    width: 10px;
}

body {
    background-color: #160129;
    overflow-x: hidden;
}

.circulo1 {
    padding: 150px;
    border-radius: 100px;
    position: absolute;
    top: 1475px;
    right: -110px;
    background-color: #b800ff;
    filter: blur(250px);
    z-index: -1;
}

.circulo2 {
    padding: 150px;
    border-radius: 100px;
    position: absolute;
    top: 2375px;
    left: -110px;
    background-color: #b800ff;
    filter: blur(250px);
    z-index: -1;
}

.circulo3 {
    padding: 150px;
    border-radius: 100px;
    position: absolute;
    top: 3450px;
    right: -110px;
    background-color: #b800ff;
    filter: blur(250px);
    z-index: -1;
}

.circulo4 {
    padding: 150px;
    border-radius: 100px;
    position: absolute;
    top: 4250px;
    left: -110px;
    background-color: #b800ff;
    filter: blur(250px);
    z-index: -1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #b800ff;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(12px);
    z-index: 10;
    box-shadow: 0px 0px 100px 0 #000;
}

.header-container {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    margin-top: 8px;
    width: 70px;
}

.nav-menu {
    display: flex;
    gap: 50px;
    padding-left: 60px;
}

.item-menu {
    text-decoration: none;
    color: rgb(123, 123, 156);
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}

.item-menu.active {
    color: #f5f5f5;
}

.item-menu.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #b800ff;
    transition: 0.3s ease-out;
}

.item-menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background: #b800ff;
    transition: 0.3s ease-out;
}

.item-menu:hover {
    color: #f5f5f5;
    transition: 0.3s;
}

.item-menu:hover::after {
    left: 0;
    width: 100%;
}

.contact {
    text-decoration: none;
    color: rgb(123, 123, 156);
    border: 1px solid #69088f;
    padding: 10px 20px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 500;
}

.contact:hover {
    color: #f5f5f5;
    border: 1px solid #b800ff;
    transition: 0.3s ease-in-out;
}

header input {
    display: none;
}

header input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

header input:checked ~ label .hamburguer::before {
    transform: rotate(90deg);
    top: 0;
}

header input:checked ~ label .hamburguer::after {
    transform: rotate(90deg);
    bottom: 0;
}

label {
    display: none;
}

.mobile-menu {
    width: 40px;
    height: 40px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -70%;
    width: 70%;
    height: 100vh;
    background-color: #160129;
    z-index: 1000;
    transition: 0.2s ease-out;
}

header input:checked ~ .sidebar {
    left: 0;
    box-shadow: 0 0 100px 0 #000;
}

.nav-menu2 {
    margin-top: 100px;
    margin-left: 10%;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.item-menu2 {
    text-decoration: none;
    color: rgb(123, 123, 156);
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    font-size: 20px;
}

.item-menu2.active {
    color: #f5f5f5;
}

.item-menu2:active {
    color: #f5f5f5;
    transition: 0.2s ease-in-out;
}

.contact2 {
    margin-left: 10%;
    text-decoration: none;
    color: #1c0035;
    padding: 10px 20px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    background-color: #f5f5f5;
}

.contact2:active {
    background-color: #a0a0a0;
    transition: 0.3s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    pointer-events: none;
}

header input:checked ~ .overlay {
    opacity: 1;
}

.hamburguer {
    position: relative;
    display: block;
    background-color: #f5f5f5;
    width: 30px;
    height: 2px;
    left: 5px;
    top: 19px;
    transition: .3s ease-in-out;
    z-index: 1001;
}

.hamburguer::before, .hamburguer::after {
    background: #f5f5f5;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .3s ease-in-out;
}

.hamburguer::before {
    top: -10px;
}

.hamburguer::after {
    bottom: -10px;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #160129;
    background-image: url('img/Background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.section-1::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, #160129 100%);
}

.section-1 h1 {
    color: #f5f5f5;
    font-size: 60px;
    border-right: 3px solid #f5f5f5;
    white-space: nowrap;
    overflow: hidden;
    animation: blinkCursor 1000ms steps(40) infinite normal, typing 1.5s steps(40) 1s normal both;
}

@keyframes blinkCursor {
    from{border-right-color: #f5f5f5;}
    to{border-right-color: transparent;}
}

@keyframes typing {
    from{width: 0;}
    to{width: 615px;}
}

.future-gradient {
    background: repeating-linear-gradient(45deg, #f5f5f5 5%, #b800ff 10%, #1100ff 20%, #b800ff 30%, #1100ff 40%, #b800ff 50%, #1100ff 60%, #b800ff 70%, #1100ff 80%, #b800ff 90%, #f5f5f5 91%);
    background-size: 600vw 600vw;
    animation: slide 7s linear infinite forwards;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes slide {
    0% {background-position-x: 0%;}
    100% {background-position-x: 600vw;}
}

.section-1 p {
    color: rgb(183, 183, 218);
    font-size: 18px;
    font-weight: 500;
    z-index: 1;
    text-shadow: 1px 1px 5px #000;
}

.central-container-section1 {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.container-section1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 600px;
    margin-right: 15px;
    z-index: 9;
}

.invest-btn {
    overflow: hidden;
    margin-top: 28px;
    text-decoration: none;
    color: #f5f5f5;
    background: linear-gradient(45deg, #1100ff 0, #b800ff 75%);
    box-shadow: 10px 10px 150px 0 #1100ff, 10px 10px 150px 0 #b800ff;
    background-size: 150%;
    padding: 10px 100px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
}

.invest-btn:hover {
    background-size: 100%;
    transition: 0.3s ease-in-out;
    box-shadow: 10px 10px 150px 0 #b800ff, 10px 10px 150px 0 #1100ff;
}

.section-2 {
    display: flex;
    justify-content: center;
}

.central-container-section2 {
    padding-top: 200px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-container-section2 {
    display: flex;
    justify-content: center;
    width: 50%;
}

.text-container-section2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: baseline;
}

.text-container-section2 h3 {
    color: #f5f5f5;
    font-size: 50px;
}

.text-container-section2 p {
    color: rgb(183, 183, 218);
    font-size: 18px;
    font-weight: 500;
    z-index: 1;
}

.readmore-btn {
    overflow: hidden;
    margin-top: 35px;
    text-decoration: none;
    color: #f5f5f5;
    background: linear-gradient(45deg, #1100ff 0, #b800ff 75%);
    box-shadow: 10px 10px 150px 0 #1100ff, 10px 10px 150px 0 #b800ff;
    background-size: 150%;
    padding: 10px 100px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
}

.readmore-btn:hover {
    background-size: 100%;
    transition: 0.3s ease-in-out;
    box-shadow: 10px 10px 150px 0 #b800ff, 10px 10px 150px 0 #1100ff;
}

.section-2-5 {
    margin-top: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #1c0035;
    border-bottom: 1px solid #b800ff;
    border-top: 1px solid #b800ff;
    box-shadow: 0px 0px 35px 0 #000;
    backdrop-filter: blur(12px);
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slider-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 16);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(calc(-250px * 8));}
}

.section-3 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.limit-section3 {
    width: 80%;
}

.principal-text-section3 {
    display: flex;
    flex-direction: column;
}

.principal-text-section3 h3 {
    color: #f5f5f5;
    font-size: 50px;
    text-align: center;
}

.principal-text-section3 p {
    color: rgb(183, 183, 218);
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.central-container-section3 {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.central-container-section3 h4 {
    color: #f5f5f5;
    font-size: 32px;
    font-weight: 600;
}

.central-container-section3 p {
    color: rgb(183, 183, 218);
    font-size: 16px;
}

.img-container-section3 {
    display: flex;
    justify-content: center;
    width: 33%;
}

.text-container-section3 {
    text-align: center;
    width: 30%;
}

.text2-container-section3 {
    text-align: center;
    width: 30%;
}

.section-4 {
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.limit-section4 {
    width: 80%;
}

.principal-text-section4 {
    display: flex;
    flex-direction: column;
}

.principal-text-section4 h3 {
    color: #f5f5f5;
    font-size: 50px;
    text-align: center;
}

.principal-text-section4 p {
    color: rgb(183, 183, 218);
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1%;
}

.card {
    width: 470px;
    padding: 40px 25px;
    border: 1px solid #b800ff;
    border-radius: 15px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 50px 0 #0f001b;
    backdrop-filter: blur(12px);
}

.card img {
    border-radius: 200px;
    filter: saturate(0);
}

.card h4 {
    color: #f5f5f5;
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
}

.card h6 {
    color: #b800ff;
    text-align: center;
    font-size: 12px;
}

.card p {
    color: rgb(183, 183, 218);
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    background-color: #0f001b;
    height: 250px;
    margin-top: 500px;
    box-shadow: 0px 0px 50px 0 #000;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 35px;
    width: 1075px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 50px 0 #0f001b;
    border: 1px solid #b800ff;
    margin-bottom: 35px;
}

footer h3 {
    color: #f5f5f5;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 35px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

input {
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #b800ff;
    color: #25093b;
}

.input.verified {
    border: 1px solid #0aa105;
}

textarea {
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #b800ff;
    color: #25093b;
    resize: none;
}

textarea::-webkit-scrollbar {
    background-color: transparent;
}

form button {
    border: none;
    background-color: #f5f5f5;
    color: #f5f5f5;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: linear-gradient(45deg, #1100ff 0, #b800ff 75%);
    background-size: 150%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

form button:hover {
    background-size: 100%;
    transition: 0.3s ease-in-out;
}

footer p {
    color: #f5f5f5;
    font-weight: 300;
    padding-bottom: 35px;
    text-align: center;
}

@media (max-width: 1920px) {

.img-container-section3 {
    width: 40%;
}

.img-container-section3 img {
    width: 575px;
}

.card {
    width: 340px;
}

.form-container {
    width: 815px;
}

}

@media (max-width: 1440px) {

.item-menu {
    font-size: 14px;
}

.contact {
    font-size: 14px;
}

.container-section1 {
    width: 450px;
}    

.container-section1 h1 {
    font-size: 44px;
}

@keyframes typing {
    from{width: 0;}
    to{width: 453px;}
}

.container-section1 p {
    font-size: 14px;
}

.invest-btn {
    margin-top: 18px;
    font-size: 14px;
    padding: 10px 80px;
}

.text-container-section2 h3 {
    font-size: 40px;
}

.text-container-section2 p {
    font-size: 14px;
}

.readmore-btn {
    font-size: 14px;
    padding: 10px 80px;
}

.img-container-section2 img {
    width: 300px;
}

.section-2-5 {
    height: 150px;
}

.principal-text-section3 h3 {
    font-size: 40px;
}

.principal-text-section3 p {
    font-size: 14px;
}

.central-container-section3 h4 {
    font-size: 22px;
}

.central-container-section3 p {
    font-size: 14px;
}

.principal-text-section4 h3 {
    font-size: 40px;
}

.principal-text-section4 p {
    font-size: 14px;
}

.card {
    width: 270px;
    margin-top: 35px;
}

.card h4 {
    font-size: 20px;
}

.card p {
    font-size: 14px;
}

.form-container {
    width: 600px;
}

.form-container h3 {
    font-size: 30px;
}

form input, textarea {
    font-size: 14px;
}

form button {
    font-size: 14px;
}

footer p {
    font-size: 14px;
}

}

@media (max-width: 1366px) {

.nav-menu {
    padding-left: 0;
}

.readmore-btn {
    margin-top: 24px;
}

.card {
    width: 240px;
}

}

@media (max-width: 1024px) {

.central-container-section1 {
    justify-content: center;
}

.container-section1 {
    align-items: center;
    text-align: center;
}

.text-container-section2 h3 {
    font-size: 35px;
}

.text-container-section2 p {
    font-size: 12px;
}

.readmore-btn {
    font-size: 12px;
    margin-top: 20px;
}

.img-container-section2 img {
    width: 250px;
}

.principal-text-section3 h3 {
    font-size: 35px;
}

.principal-text-section3 p {
    font-size: 12px;
}

.central-container-section3 {
    padding-top: 80px;
}

.text-container-section3 p {
    font-size: 12px;
}

.img-container-section3 {
    width: 50%;
}

.text2-container-section3 p {
    font-size: 12px;
}

.principal-text-section4 h3 {
    font-size: 35px;
}

.principal-text-section4 p {
    font-size: 12px;
}

.card {
    width: 190px;
}

.card img {
    width: 150px;
}

.card h4 {
    font-size: 20px;
}

.card p {
    font-size: 12px;
}

.form-container {
    width: 500px;
}

form input, textarea, button {
    font-size: 12px;
}

footer p {
    font-size: 12px;
}

.circulo3 {
    top: 3200px;
}

.circulo4 {
    top: 4000px;
}

}

@media (max-width: 800px) {

.circulo1, .circulo2, .circulo3, .circulo4 {
    display: none;
}

.nav-menu, .contact {
    display: none;
}

label {
    display: block;
}

header {
    height: 70px;
    background-color: #1c0035;
}

.logo {
    width: 50px;
}

.container-section1 {
    margin-right: 0;
}

.text-container-section2 h3 {
    font-size: 26px;
}

.text-container-section2 p {
    font-size: 12px;
}

.readmore-btn {
    font-size: 12px;
}

.img-container-section2 img {
    width: 225px;
}

.central-container-section2 {
    padding-top: 100px;
}

.section-2-5 {
    margin-top: 100px;
}

.section-3 {
    padding-top: 100px;
}

.principal-text-section3 h3 {
    font-size: 26px;
}

.principal-text-section3 p {
    font-size: 12px;
}

.text-container-section3 h4 {
    font-size: 18px;
}

.text-container-section3 p {
    font-size: 10px;
}

.img-container-section3 {
    width: 60%;
}

.text2-container-section3 h4 {
    font-size: 18px;
}

.text2-container-section3 p {
    font-size: 10px;
}

.section-4 {
    padding-top: 100px;
}

.principal-text-section4 h3 {
    font-size: 26px;
}

.principal-text-section4 p {
    font-size: 12px;
}

.card {
    width: 295px;
}

.card h4 {
    font-size: 18px;
}

.card p {
    font-size: 12px;
}

.form-container {
    width: 80%;
}

.form-container h3 {
    font-size: 26px;
}

form input, textarea {
    font-size: 12px;
}

}

@media (max-width: 600px) {

.invest-btn {
    padding: 10px 120px;
}

.central-container-section2 {
    flex-direction: column;
}

.text-container-section2 {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

.text-container-section2 h3 {
    font-size: 36px;
    padding-bottom: 12px;
}

.text-container-section2 p {
    font-size: 14px;
}

.readmore-btn {
    margin-top: 28px;
    padding: 10px 120px;
    font-size: 14px;
}

.img-container-section2 {
    width: 100%;
}

.img-container-section2 img {
    width: 300px;
}

.principal-text-section3 h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

.principal-text-section3 p {
    font-size: 14px;
}

.central-container-section3 {
    flex-direction: column;
}

.space {
    display: none;
}

.text-container-section3 {
    margin-top: -50px;
    width: 100%;
}

.text-container-section3 h4 {
    font-size: 24px;
}

.text-container-section3 p {
    font-size: 14px;
    padding-bottom: 50px;
}

.img-container-section3 {
    width: 100%;
}

.text2-container-section3 {
    padding-top: 40px;
    width: 100%;
}

.text2-container-section3 h4 {
    font-size: 24px;
}

.text2-container-section3 p {
    font-size: 14px;
    padding-bottom: 50px;
}

.principal-text-section4 h3 {
    font-size: 30px;
}

.principal-text-section4 p {
    font-size: 14px;
}

.card {
    width: 100%;
}

.card h4 {
    font-size: 26px;
}

.card p {
    font-size: 14px;
}

.form-container {
    width: 80%;
}

.form-container h3 {
    font-size: 36px;
}

form input, textarea, button {
    font-size: 14px;
}

footer p {
    font-size: 14px;
}

}

@media (max-width: 510px) {

.container-section1 {
    width: 100%;
}

.container-section1 h1 {
    font-size: 34px;
}

@keyframes typing {
    from{width: 0;}
    to{width: 350px;}
}

.container-section1 p {
    font-size: 14px;
}

.invest-btn {
    width: 100%;
    padding: 10px;
}

}

@media (max-width: 375px) {

.central-container-section1 {
    justify-content: center;
}

.container-section1 h1 {
    font-size: 30px;
}

@keyframes typing {
    from{width: 0;}
    to{width: 310px;}
}

.readmore-btn {
    width: 100%;
    padding: 10px;
}

.form-container h3 {
    font-size: 30px;
}

}

@media (max-width: 330px) {

.container-section1 h1 {
    font-size: 28px;
}

@keyframes typing {
    from{width: 0;}
    to{width: 290px;}
}

.form-container h3 {
    font-size: 28px;
}

}